<div class="container">
    <div class="row row-upwards">
        <div class="col-sm-12 text-center bg-darker text-white box-skew">
            <div class="mx-5 my-5 box-unskew">
                <h2>Objectives</h2>
                <p>
                    <b>Web Developer</b> with over {{ yearCount }} years of experience who thrive to <b>succeed</b>. 
                    I am enthusiastic to work in <b>dynamic</b> environments which provide 
                    <b>opportunities</b> to enhance my skills for both <b>personal</b> and <b>professional</b> growth.
                </p>
            </div>
        </div>
    </div>
</div>