<div class="row">
    <div class=" col-lg-3 col-md-4 col-sm-6" *ngFor="let proProject of professionalProjects">
      <div class="card text-center">
          <img class="card-img-top" src="..." alt="Card image cap" *ngIf="proProject.graphic.type === 'image'; else cardIcon">
          <ng-template #cardIcon>
              <div class="card-icon">
                <i class="{{ proProject.graphic.data }} fa-4x"></i>
              </div>
          </ng-template>
        <div class="card-body">
          <h6 class="card-title lead">{{ proProject.title }}</h6>
          <p class="card-text small">
            {{ proProject.description }}<br>
            <small><b>( {{ proProject.company }} )</b></small>
          </p>
        </div>
      </div>
    </div>
  </div>