<div class="row">
    <ng-template #appLoaderComponent></ng-template>
    <div class=" col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let proProject of professionalProjects">
      <div class="card text-center">
          <div class="card-img" *ngIf="proProject.graphic.type === 'image'; else isIcon">
              <img src="{{ proProject.graphic.data }}" alt="{{ proProject.title }}">
            </div>
            <ng-template #isIcon>
                <div class="card-icon">
                  <i class="{{ proProject.graphic.data }} fa-4x"></i>
                </div>
            </ng-template>
        <div class="card-body">
          <h6 class="card-title lead">{{ proProject.title }}</h6>
          <p class="card-text small">
            {{ proProject.description }}<br>
            <span *ngIf="proProject.link !== ''"><a href="{{ proProject.link }}" target="__blank">Click here to view project!</a><br></span>
            <small><b>( {{ proProject.company }} )</b></small>
            
          </p>
        </div>
      </div>
    </div>
  </div>