<nav class="navbar navbar-expand-md bg-darker navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">{{ name }}</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown active bg-info">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Home
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Work Experience</a>
          <a class="dropdown-item" href="#">Development Skills</a>
          <a class="dropdown-item" href="#">Projects</a>
          <a class="dropdown-item" href="#">Testimonials</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>