@import 'variables';

.navbar {
    padding: 0 1rem;
}

.nav-link {
    padding: 1.2rem 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    &.active {
        background-color: $color-info;
        color: $color-white;
    }
}

.nav-item.dropdown {
    cursor: pointer;
}

.open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms ease, visibility 200ms ease;
    -moz-transition: opacity 200ms ease, visibility 200ms ease;
    -o-transition: opacity 200ms ease, visibility 200ms ease;
    transition: opacity 200ms ease, visibility 200ms ease;
  }