<div class="row">
  <div class="col-md-12">
    <div class="container">
      <h2 class="text-center my-5 text-dark">Other Skills</h2>
      <div class="row loader-placeholder">
        <ng-template #appLoaderComponent></ng-template>
        <div class="col-md-4" *ngFor="let others of otherSkills">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let skill of others">
              <i class="fas fa-star text-warning"></i> {{ skill }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>