<div class="row my-5">
  <div class="col-md-12">
    <div class="container testimonials">
      <h2 class="text-center text-dark">Testimonials</h2>
      <h6 class="text-center mb-4">People I've worked with have said some nice things...</h6>
      <div class="row" *ngFor="let testimonial of testimonials; let i = index">
        <div [ngClass] = "{'col-md-6': true, 'offset-md-1': (i+1)%2 > 0, 'offset-md-5': (i+1)%2 == 0}">
          <div class="card border-0 my-3">
            <div class="card-body text-center">
              <img src="{{ testimonial.image }}" alt="{{ testimonial.full_name }}" class="rounded-circle card-img">
              <div class="card-text my-4">
                <span class="lead">"{{ testimonial.description }}"</span>
              </div>
              <div class="card-text">
                <div class="quote-author">
                  <b>{{ testimonial.full_name }}</b>
                  <i class="small">{{ testimonial.position }}</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>