<div class="container mt-4">
    <div class="row py-5">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">2018</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Desginer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-icon"><span class="year">2017</span></div>
                    <div class="timeline-content">
                        <h3 class="title">Web Developer</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>