<div class="row bg-info my-5 py-4">
  <div class="col-md-12">
    <h2 class="text-center mb-4 text-white">Project works</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="nav-pills-container py-3">
            <nav class="nav nav-pills justify-content-center">
              <a class="nav-link active" href="#">
                <i class="fas fa-rocket"></i> Personal</a>
              <a class="nav-link disabled" href="#">
                <i class="fas fa-trophy"></i> Professional</a>
            </nav>
          </div>
          <div class="nav-content-container py-2 px-2 mb-4">
            <div class="nav-content px-4 py-4">
              Personal content here
            </div>
            <div class="nav-content px-4 py-4">
              Professional content here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>