<div class="row">
    <ng-template #appLoaderComponent></ng-template>
  <div class=" col-lg-3 col-md-4 col-sm-6" *ngFor="let perProject of personalProjects">
    <div class="card text-center">
        <div class="card-img" *ngIf="perProject.graphic.type === 'image'; else isIcon">
          <img src="{{ perProject.graphic.data }}" alt="{{ perProject.title }}">
        </div>
        <ng-template #isIcon>
            <div class="card-icon">
              <i class="{{ perProject.graphic.data }} fa-4x"></i>
            </div>
        </ng-template>
      <div class="card-body">
        <h6 class="card-title lead">{{ perProject.title }}</h6>
        <p class="card-text small">
          {{ perProject.description }}<br>
          <span *ngIf="perProject.link !== ''"><a href="{{ perProject.link }}" target="__blank">Click here to view project!</a><br></span>
          <small><b>( {{ perProject.company }} )</b></small>
        </p>
      </div>
    </div>
  </div>
</div>