<div class="container mt-4">
    <div class="row py-5">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline" *ngFor="let work of workTimeLine">
                    <div class="timeline-icon">
                        <span class="year">{{ work.endingYear }} </span>
                    </div>
                    <div class="timeline-content">
                        <h3 class="title text-center lead">{{ work.positionTitle }}
                            <br>
                            <i class="small">({{ work.company }} | {{ work.period.from }} - {{ work.period.to }})</i>
                        </h3>
                        <div class="description">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let workDescription of work.description">{{ workDescription }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-separator"></div>
            </div>
        </div>
    </div>
</div>