<nav class="navbar navbar-expand-md bg-darker navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" [routerLink]="['/']">{{ name }}</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown" (click)="openDropDownMenu()" [ngClass]="{'open' : isDropDownActive}" >
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"
          [ngClass]="{'active' : isHomeActive}">
          <i class="fas fa-home"></i> Home
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/']" [fragment]="'objectives'">Objectives & Work Experience</a>
          <a class="dropdown-item" [routerLink]="['/']" [fragment]="'developmentSkills'">Development Skills</a>
          <a class="dropdown-item" [routerLink]="['/']" [fragment]="'projects'">Projects</a>
          <a class="dropdown-item" [routerLink]="['/']" [fragment]="'testimonials'">Testimonials</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/timeline']" routerLinkActive="active" >
          <i class="fas fa-clock"></i> Timeline
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
          <i class="fas fa-envelope"></i> Contact
        </a>
      </li>
    </ul>
  </div>
</nav>