<div class="card-group bg-darker px-5">
    <div class="card bg-secondary text-white box-skew border-danger">
        <div class="card-header">
            <b>Emtel Ltd</b>
        </div>
        <div class="card-body text-center box-unskew">
            <h5 class="card-title">
                Performance Management Administrator/Developer
                <br>
                <i class="small">Feb 2013 - Apr 2015</i>
            </h5>
            <p class="card-text small">Development of automated software (e.g. Dashboards, ETL process, etc...)</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-light btn-md">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    <div class="card bg-dark text-white box-skew border-info">
        <div class="card-header">
            <b>Stella Telecom Ltd</b>
        </div>
        <div class="card-body text-center box-unskew">
            <h5 class="card-title">
                Web Engineer
                <br>
                <i class="small">May 2015 - Apr 2018</i>
            </h5>
            <p class="card-text small">Development of web projects using web technologies/frameworks</p>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-light btn-md">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
    <div class="card bg-secondary text-white box-skew border-warning">
        <div class="card-header">
            <b>Orange Business Services</b>
        </div>
        <div class="card-body text-center box-unskew">
            <h5 class="card-title">
                Senior Software Engineer – ServiceNow Developer
                <br>
                <i class="small">May 2018 - Present</i>
            </h5>
            <p class="card-text small">Customisation and application development within ServiceNow</p>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-light btn-md">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
    </div>
</div>