.card {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; 
    border-top: 5px solid;
    &-title {
        height: 75px;
    }

    &-text {
        height: 50px;
    }

    &-header {
        background-color: rgba(0,0,0,.3);
        text-align: center;
    }

    &-footer {
        background-color: rgba(0,0,0,.3);
        text-align: right;

        & .btn {
            border-radius: 100%;
            transform: skew(5deg);
            width: 32px;
            height: 32px;
            font-size: 1.2rem;
            line-height: 0;
        }

    }
}