.row {
    margin-top: -25px;
}
.card {
    border-radius: 0;
    border: 0;
    
    &-title {
        height: 75px;
    }

    &-text {
        height: 50px;
    }

    &-header {
        background-color: rgba(0,0,0,.3);
        text-align: center;
    }

    &-footer {
        background-color: rgba(0,0,0,.3);
        text-align: right;

        & .btn {
            border-radius: 100%;
            transform: skew(5deg);
            width: 32px;
            height: 32px;
            font-size: 1.2rem;
            line-height: 0;
        }

    }
}