<div class="card-group bg-dark">
    <div class="card bg-secondary text-white box-skew">
        <div class="card-body text-center box-unskew">
            <h5 class="card-title">
                Performance Management Administrator/Developer
                <br>| Emtel Ltd |
                <br>
                <i class="small">Feb 2013 - Apr 2015</i>
            </h5>
            <p class="card-text small">Development of automated software (e.g. Dashboards, ETL process, etc...)</p>
            <a href="#" class="btn btn-dark btn-md">
                <span>More Info</span>
            </a>
        </div>
    </div>
    <div class="card bg-dark text-white box-skew">
        <div class="card-body text-center box-unskew">
            <h5 class="card-title">
                Web Engineer
                <br>| Stella Telecom Ltd |
                <br>
                <i class="small">May 2015 - Apr 2018</i>
            </h5>
            <p class="card-text small">Development of web projects using web technologies/frameworks</p>
            <a href="#" class="btn btn-secondary btn-md">
                <span>More Info</span>
            </a>
        </div>
    </div>
    <div class="card bg-secondary text-white box-skew">
        <div class="card-body text-center box-unskew">
            <h5 class="card-title">
                Senior Software Engineer – ServiceNow Developer
                <br>| Orange Business Services |
                <br>
                <i class="small">May 2018 - Present</i>
            </h5>
            <p class="card-text small">Customisation and application development within ServiceNow</p>
            <a href="#" class="btn btn-dark btn-md">
                <span>More Info</span>
            </a>
        </div>
    </div>
</div>