/* You can add global styles to this file, and also import other style files */

@import 'variables';

.bg-darker {
    background-color: $color-darker;
}

.bg-grey {
    background-color: $color-grey;
}

.box {
    &-skew {
        transform: skew(-5deg);
    }
    &-unskew {
        transform: skew(5deg);
    }
}

.btn-skew {
    border-radius: 0;
    transform: skew(-5deg);

    & span {
        display: block;
        transform: skew(5deg);
    }
}

.btn-rounded {
    border-radius: 100%;
}

.btn-fixed-size {
    height: 40px;
    width: 40px;
}

.border-grey {
    border-color: $border-grey;
}

.project-cards {
    .card {
        height: 100%;

        &-icon {
            height: (170px - 50px);
            width: 100%;
            background-color: $color-dark;
            line-height: 100px;
            color: $color-white;
            padding: 25px 0;
        }

        &-img {
            height: calc(170px - 50px);
            width: 100%;
            background-color: $color-dark;
            color: $color-white;
            padding: 25px 0;
            
            & img {
                width: auto;
                height: 170%;
                border-radius: 100%;
                border: 5px solid $color-white;
            }
        }
    }
}

.route-container {
    position: relative;
}
.route-container>* {
    display: block;
}

app-loader {
    width: 100%;
}