<div class="row bg-grey my-5 py-4">
  <div class="col-md-12">
    <h2 class="text-center text-dark">Project works</h2>
    <h6 class="text-center mb-4">Some of the type/name of projects that I've been working on. You can choose between Professional or Personal by switching tabs.</h6>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="nav-rounded-container py-3">
            <nav class="nav-rounded">
              <div class="nav-rounded-link-wrapper active" data-link="professional">
                <div class="nav-rounded-link-bordered">
                  <div class="nav-rounded-link">
                    <i class="fas fa-trophy fa-2x"></i>
                  </div>
                </div>
                <div class="nav-rounded-link-text text-muted">
                  Professional
                </div>
              </div>
              <div class="nav-rounded-link-wrapper" data-link="personal">
                <div class="nav-rounded-link-bordered">
                  <div class="nav-rounded-link">
                    <i class="fas fa-rocket fa-2x"></i>
                  </div>
                </div>
                <div class="nav-rounded-link-text text-muted">
                    Personal
                </div>
              </div>
            </nav>
          </div>
          <div class="project-cards nav-rounded-content py-2 px-2 mb-4">
            <div id="professional" class="nav-content active">
              <app-professional></app-professional>
            </div>
            <div id="personal" class="nav-content">
              <app-personal></app-personal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>