@import 'variables';
$nav-r: 'nav-rounded';
$nav-c: 'nav-content';

.#{$nav-r} {

    &-container {
        text-align: center;
    }

    &-content {
        border-top: 2px dashed #e1e1e1;
    }

    &-link {
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 92px;
        background-color: rgb(121, 121, 121);
        display: inline-block;
        border-radius: 100%;
        color: white;
        
        &-bordered {
            border: 2px solid #e1e1e1;
            padding: 20px;
            border-radius: 100%;
        }

        &-wrapper {
            margin: 0 30px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            &:after {
                content: "";
                width: 30%;
                position: absolute;
                border-bottom: 2px dashed #dadada;
                top: 43%;
                left: 100%;
                transform: translateX(34%);
            }

            &:last-of-type {
                &:after {
                    border-bottom: none;
                }
            }

        }

    }


    & .active {
        & .#{$nav-r} {
            &-link{
                background-color: $color-info;
                &-bordered {
                    border: 2px solid $color-info;
                }
            }
        }
    }

    &-link-wrapper:hover {
        & .#{$nav-r} {
            &-link{
                background-color: $color-dark;
                &-bordered {
                    border: 2px solid $color-dark;
                }
            }
        }
    }

}


.#{$nav-c} {
    max-height: 0;
    padding: 0 1.5rem;
    overflow: hidden;
    transition: max-height 0.15s ease-out;

    &.active {
        max-height: 500px;
        padding: 1.5rem;
        transition: max-height 0.25s ease-in;
    }

}


