<div class="row  my-5">
  <div class="col-md-12">
    <div class="container">
      <h2 class="text-center">Testimonials</h2>
      <h6 class="text-center mb-4">People I've worked with have said some nice things...</h6>
      <div class="row">
          <div class="col-md-6 offset-md-1">
            <div class="card border-0 my-3">
              <div class="card-body text-center">
                <img src="./assets/img/hyder.jpg" alt="profile1" class="rounded-circle card-img">
                <div class="card-text my-4">
                  <span class="quote">"Faryyaz was a real pleasure to work with and we look forward to working with him again. He’s the kind of
                    designer you can trust with a project from start to finish"
                  </span>
                </div>
                <div class="card-text">
                  <div class="quote-author">
                    <b>Hyder Abbas</b>
                    <i class="small">Senior Full Stack Developer</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-5">
              <div class="card border-0  my-3">
                <div class="card-body text-center">
                  <img src="./assets/img/prashant.jpg" alt="profile2" class="rounded-circle card-img">
                  <div class="card-text my-4">
                    <span class="quote">"Faryyaz was a real pleasure to work with and we look forward to working with him again. He’s the kind of
                      designer you can trust with a project from start to finish"
                    </span>
                  </div>
                  <div class="card-text">
                    <div class="quote-author">
                      <b>Prashant Ramhit</b>
                      <i class="small">Team Leader DevOps</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>