/* You can add global styles to this file, and also import other style files */

@import 'variables';

.bg-darker {
    background-color: $color-darker;
}

.bg-grey {
    background-color: $color-grey;
}

.box {
    &-skew {
        transform: skew(-5deg);
    }
    &-unskew {
        transform: skew(5deg);
    }
}

.btn-skew {
    border-radius: 0;
    transform: skew(-5deg);

    & span {
        display: block;
        transform: skew(5deg);
    }
}

.btn-rounded {
    border-radius: 100%;
}

.btn-fixed-size {
    height: 40px;
    width: 40px;
}

.border-grey {
    border-color: $border-grey;
}

.card {
    &-icon {
        height: 120px;
        width: 100%;
        background-color: $color-info;
        line-height: 100px;
        color: $color-white;
        padding: 25px 0;
    }
}