<footer class="bg-darker text-white text-center py-5">
    <div class="container">
      <p class="lead">Handcrafted by me</p>
      <div class="my-3">
        <a href="" class="btn btn-dark btn-rounded btn-fixed-size mx-2">
          <i class="fab fa-github"></i>
        </a>
        <a href="" class="btn btn-dark btn-rounded btn-fixed-size mx-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="" class="btn btn-dark btn-rounded btn-fixed-size mx-2">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
      <p class="lead">
        Made with
        <i class="fas fa-heart text-danger"></i> using 
        <br>Angular, Bootstrap & Laravel
        <br><small><i>&copy; FD Portfolio</i></small>
      </p>
    </div>
</footer>